.container {
   height: 100vh;
   background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(180, 180, 240) 0%, rgb(223, 223, 245) 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   box-sizing: border-box;
}

.form {
   width: 100%;
   max-width: 30rem;
   margin: auto;
   background-color: rgb(235, 235, 235);
   padding: 2rem;
   border-radius: 1rem;
   box-sizing: border-box;
}

h1 {
   width: 100%;
   text-align: center;
}

img {
   max-height: 15rem;
   height: 15rem;
   width: 100%;
   margin: 1.5rem auto 1.5rem auto;
}

.full-width {
   width: 100%;
}

button {
   margin-top: 1.5rem;
}

mat-icon {
   opacity: .6;
}